.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 20px;
}

.switch input {
  display: none;
}

.switchslider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.switchslider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .switchslider {
  background-color: #2196f3;
}

input:focus + .switchslider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .switchslider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(40px);
}

/* Rounded sliders */
.switchslider.round {
  border-radius: 20px;
}

.switchslider.round:before {
  border-radius: 50%;
}

.site-detail-nav-tabs {
  background-color: #1c1c1c1c;
}

.full-width {
  width: 100%;
}

.add-params-list-container .row,
.edicntl-param-table tbody tr {
  cursor: pointer;
}

.add-params-list-container .row.selected,
.edicntl-param-table tbody tr.selected {
  background-color: #f5f5f5;
}

.edicntl-param-table tbody tr.changed {
  color: #ff6600;
}

.edicntl-param-table tbody tr.new {
  color: #5cb85c;
}

.edicntl-param-table tbody tr.deleted {
  color: #cccccc;
}

.config-param-title {
  background-color: #fff;
}

.add-params-list-container {
  max-height: 300px;
  width: auto;
  overflow-y: scroll;
  overflow-x: hidden;
}

.badge.badge-success {
  color: #fff;
  background-color: #5cb85c;
}

.badge.badge-info {
  color: #fff;
  background-color: #337ab7;
}

.field-error-message {
  color: #a94442;
}

.async-validating::after {
  display: inline-block;
  content: "checking...";
}

.edit-gparameter-form {
  max-height: 300px;
  width: auto;
  overflow-y: auto;
  overflow-x: hidden;
}
