.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 20px;
}

.switch input {
  display: none;
}

.switchslider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.switchslider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .switchslider {
  background-color: #2196f3;
}

input:focus + .switchslider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .switchslider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(40px);
}

/* Rounded sliders */
.switchslider.round {
  border-radius: 20px;
}

.switchslider.round:before {
  border-radius: 50%;
}

.site-detail-nav-tabs {
  background-color: #1c1c1c1c;
}

.full-width {
  width: 100%;
}
